@inherits LayoutComponentBase
@inject NavigationManager _navigationManager
@inject IdentityAuthenticationStateProvider _authStateProvider

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
    <AuthorizeView>
        <Authorized>
            <div class="sidebar">
                <NavMenu />
            </div>
            <div class="main">
                <div class="top-row px-4">
                    <MudButton StartIcon="@Icons.Material.Filled.Logout" @onclick="@LogoutClick">Logout</MudButton>
                </div>

                <div class="content px-4">
                    <MudLayout>
                        <MudMainContent>
                            @Body
                        </MudMainContent>
                    </MudLayout>
                </div>
            </div>
        </Authorized>
        <NotAuthorized>
            <div class="sidebar">
                <NavMenu />
            </div>
            @Body
        </NotAuthorized>
    </AuthorizeView>
</div>