@inherits LayoutComponentBase
@inject NavigationManager _navigationManager
@inject IdentityAuthenticationStateProvider _authStateProvider

<div class="page">
    <AuthorizeView>
        <Authorized>
            <div class="sidebar">
                <NavMenu />
            </div>
                <div class="main">
                    <div class="top-row px-4">
                        <button type="button" class="btn btn-link ml-md-auto" @onclick="@LogoutClick">Logout</button>
                    </div>

                    <div class="content px-4">
                        @Body
                    </div>
                </div>
        </Authorized>
        <NotAuthorized>
            <div class="sidebar">
                <NavMenu />
            </div>
            @Body
        </NotAuthorized>
    </AuthorizeView>
</div>